* {
    font-family: "Inter", sans-serif;
}

body {
    background-color: #151719;
    padding-left: 12%;
    padding-right: 12%;
    margin: 0;
}

header {
    height: 80px;
}

.header-waves-image {
    z-index: -999;
    position: absolute;
    top: 0;
    right: 0;
}

.header-content {
    display: flex;
    height: 80px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.button {
    min-width: 96px;
    height: 40px;
    border: none;
    line-height: 24px;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: -0.25px;
    border-radius: 3px;
}

.text-button {
    background-color: transparent;
    color: #5d5dff;
}

.filled-button {
    background-color: #5d5dff;
    box-shadow: 0px 1px 3px 0px #19202c0a;
    color: #fff;
}

.button.big {
    width: 167px;
    height: 48px;
}
.video-section-button-container { 
    display: flex;
    gap: 12px;
}
#video-section {
    display: flex;
    flex-direction: column;
    align-items: center; 
    margin-top: 60px;
    position: relative;
    padding-bottom: 64px;
}
h1 {
    margin: 0;
    font-size: 52px;
    font-weight: 800;
    line-height: 62px;
    letter-spacing: -0.5px;
    text-align: center;
    color: rgba(217, 227, 234, 1);
}
p {
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: -0.25px;
    text-align: center;
    color: rgba(155, 169, 180, 1);
}
.dark-button {
    color: rgba(197, 210, 220, 1);
    background: rgba(51, 54, 58, 1);
}

.video-container {
    position: relative;
    margin-top: 64px;
    padding: 0 5% 0;
}

video {
  width: 100%;
  height: 100%;
}

.play-button {
    background: linear-gradient(213.57deg, rgba(235, 241, 245, 0.8) 14.42%, #EBF1F5 84.52%);
    height: 88px;
    width: 88px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.play-button > img {
    width: 24px;
    margin-left: 4px;
}

.video-container-waves {
    left: -68px;
    position: absolute;
    bottom: 0;
    z-index: -999;
}
#advantages-section {

}
h2 {

    font-family: Inter;
    font-size: 40px;
    font-weight: 800;
    line-height: 50px;
    letter-spacing: -0.5px;
    text-align: center;
    color: rgba(217, 227, 234, 1);
}
.table-section {
    color: white;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-content: center;
}